.header-container {
    max-width: 1184px;
    width: 100%;
    height: 113px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ul-element {
    display: flex;
    width: 428px;
    justify-content: space-between;
    color: #222831;
    color: #19182580;
}
.registration {
    max-width: 220px;
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.log-in {
    width: 105px;
    height: 49px;
    font-weight: 700;
    line-height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sign-up {
    width: 115px;
    height: 49px;
    background-color: #6B77E5;
    color: #EEEEEE;
    border-radius: 50px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    display: flex;
}
.left-element {
    max-width: 871px;
    width: 100%;
}
.left-image {
    width: 100%;
}
.right-element {
    max-width: 441px;
    width: 100%;
    margin: 64px;
}
.box {
    width: 204.5px;
    height: 151px;
    border: 1px solid #1918251A;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
}
.text-4 {
    width: 441px;
    height: 28px;
    font-family: Abel;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    color: #F85E9F;
    margin-top: 24px;
}
.text-5 {
    width: 441px;
    height: 28px;
    font-family: Abel;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    color: #F85E9F;
    font-family: Circular Std;
}
.text-3 {
    max-width: 1116px;
    width: 100%;
    font-family: Abel;
    font-size: 40px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;
    color: #191825;
}
.text-2 {
     font-size: 44px;
     font-weight: 700;
     line-height: 52.8px;
     color: #191825;
}
.text-para {
    width: 441px;
    height: 87px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 28.8px;
    color: #19182580;
    margin-top: 24px;
    margin-bottom: 24px;
}
.text-para-2 {
    max-width: 1312px;
    width: 100%;
    height: 53px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 28.8px;
    color: #19182580;
}
.text-s {
    width: 84px;
    height: 42px;
    font-family: Circular Std;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #FF5722;
    margin: 10px;
}
.top-element {
    max-width: 1312px;
    width: 100%;
}
.bottom-element {
    max-width: 1312px;
    width: 100%;
}
.secind-section-bg {
    max-width: 1312px;
    width: 100%;
    height: 187px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-div {
    max-width: 1312px;
    width: 100%;
    height: 187px;
}
.services{
    max-width: 1312px;
    width: 100%;
    text-align: center;
}
.icone {
    border:1px solid #1918251A;
    border-radius: 32px;
    width: 100px;
    height: 100px;
    align-items: center;
}
.wrapper-block{
    display: flex;
    max-width: 1312px;
    width: 100%;
    height: 164px;
    display: flex;
    text-align: left;
    justify-content: space-around;
}
.service-text{
    max-width: 1116px;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
}
.footer-bg{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
    height: 434px;
}
.info{
    margin-top: 64px;
    max-width: 560px;
    width:100%;
    height: 279px;
}
.contact-div{
    display: flex;
    justify-content: space-between;
    max-width: 160px;
    width: 100%;
    height: 32px;
}
.contact-border{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #5D50C6;
}
.info-p{
    font-size: 23px;
    font-weight: 450;
    margin-top: 32px;
    margin-bottom: 64px;
}
.icon{
    color: #fff;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    max-width: 560px;
    width: 100%;
}
.group-div{
    display: flex;
    flex-direction: column;
}
.font-6 {
   font-size: 23px; 
   font-weight: 700;
   margin-bottom: 32px;
   align-items: center;
}
.space{
    margin-bottom: 32px;
}
.list{
    color: #191825BF;
    font-size: 18px;
    font-weight: 400;
}
.bar {
    display: none;
    background-color: #5D50C6;
    border-radius: 30%;
    width: 40px;
    height: 40px;
}
.fa-bars {
    top: 50%;
    bottom: 20%;
}
.wrapper {
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    height: 606px;
    display: flex;
    align-items: center;
}
.left-wrapper {
    width: 412px;
    height: 478px;
}
.right-wrapper-image {
    width: 100%;
}
.right-wrapper {
    width: 772px;
}
.text-1 {
    font-family: Abel;
    font-size: 69px;
    font-weight: 400;
    line-height: 82.8px;
}
.text-color {
    color: #F85E9F;
}
/* .button {
    display: flex;
    width: 338px;
    height: 56px;
    gap: 16px;
} */
/* .right-button {
    display: flex;
    border-radius: 20px;
    background-color: #5D50C6;
    
} */
@media (max-width: 1024px) {
    .container {
        /* flex-direction: column;
        align-items: center; */
        flex-wrap: wrap;
        /* justify-content: center; */
    }
    .right-element {
        text-align: center;
    }
    .second-div{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
       }
    .text-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-para-2 {
        text-align: center;
    }
    .icone {
        align-items: center;
    }
    .footer-bg{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        order: 1;
    }
    .logo {
        order: 2;
    }
    .registration {
        order: 3;
    }
    .ul-element {
        display: none;
    }
    .wrapper {
        flex-direction: column-reverse;
        row-gap: 64px;
        height: auto;
    }
    .left-wrapper {
        width: 100%;
    }
    .right-wrapper {
        width: 100%;
    }
}
@media (max-width: 430px) {
    .right-element {
        text-align: center;
        margin: 0 auto;
    }
    .boxes {
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 90%;
    }
    .text-3 {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .wrapper-block {
        height: 360px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .secind-section-bg {
        max-width: 1312px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icone {
        width: 100%;
        align-items: center;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .ul-list{
        display:none
    }
    .ul-element {
        display: none;
    }
    .registration {
        display: none;
    }
    .logo {
        order: 1;
    }
    .bar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        order: 2;
    }
}